.gridContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 10%);
  background: url("/bg.jpg") center / cover;
  color: #fff;
}

@media (max-width: 731px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

.gridContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.432);
}

.gridContainer > * {
  z-index: 1;
}

.sideBar {
  background-color: #0202027e;
}

@supports (backdrop-filter: blur(10px)) {
  .sideBar {
    background-color: #7070707e;
    backdrop-filter: blur(10px);
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 2rem;
}

.logo {
  padding: 2rem;
}
