.flexContainer {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #c7c7c7a9;
}

.tileContainer {
  background-color: #f4f4f488;
}

@supports (backdrop-filter: blur(10px)) {
  .flexContainer {
    background-color: #e4e4e457;
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 466px) {
  .flexContainer {
    width: 90%;
    justify-content: space-between;
  }

  .temperature,
  .cityName {
    font-size: 1.7rem;
  }
}
